/* Write your code here. */
.list-item {
  margin: 10px;
}
.thumbnail-img {
  height: 70px;
  width: 70px;
}

.blur-class {
  opacity: 0.5;
}

@media screen and (min-width: 768px) {
  .thumbnail-img {
    height: 100px;
    width: 100px;
  }
}
button {
  border: 0px solid;
  outline: none;
  background-color: #ffffff;
}
